.gallery {
    list-style-type: none;
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    background: #fff;
    padding: 24px 156px ;
}
img {
    width: 360px;
    height: 200px;
}


.modal{
    padding: 28px 164px;
    width: 1112px;
        height: 640px;
        cursor: pointer;
     
}